Editorial: State Required vs Optional claims in WPT

Opened as a working group member, not as chair

From reading the text the "ath", "tth" and "oth" claims are optional. Consider stating that as part of the claims definition. e.g. 

"- ath: Optional. Hash of the OAuth access token, if present in the request,
         which might convey end-user identity and authorization context
         of the request.  The value, as per Section 4.1 of [RFC9449], is
         the base64url encoding of the SHA-256 hash of the ASCII
         encoding of the access token's value. 

I read the text differently. IMHO the value is not present if there's no access token, but is mandatory if an access token exists. So it's "conditionally mandatory" rather than "optional".

It would be good to have clarification on that - I totally read (or at least wanted to read) it as optional - that is you don't have to include it, even when you have an access token, transaction token or any other kind of token. 

Either way, we need to define verifier handling: if `ath` exists and the access token doesn't and so on.