WIT with cnf referencing Transport-layer security

This spec should support an Option that builds on secure Workload Transport-layer authentication.  Well-established protocols exist for Workload-to-Workload communication over mutually authenticated TLS 1.3.

I would like to propose an `Option 3: Transport-layer Proof-of-possession`, with a reference to the TLS credential used in the `cnf` claim of the WIT, in the manner described in https://datatracker.ietf.org/doc/html/rfc8705#section-3.1

### The Workload Identity Token {#to-wit}

_Change the description of `cnf` to the following:_

* `cnf` : A confirmation claim containing either the public key of the workload OR a cryptographically strong hash of the X.509 certificate conveyed during Transport layer security. 
    * The public key `cnf` contains the jwk member as defined in {{Section 3.2 of RFC7800}}. The workload MUST prove possession of the corresponding private key when presenting the WIT to another party, which can be accomplished by using it in conjunction with one of the methods in {{dpop-esque-auth}} or {{http-sig-auth}}. As such, it MUST NOT be used as a bearer token and is not intended for use in the Authorization header.
    * The X.509 certificate hash `cnf` contains the `x5t#S256` hash as described in [Section 3.1](https://datatracker.ietf.org/doc/html/rfc8705#section-3.1) of [[RFC8705](https://datatracker.ietf.org/doc/html/rfc8705)]. When this value is provided, Proof-of-possession is delegated to the Transport-layer. The receiving Workload MUST verify that the `x5t#S256` claim matches the hash of the Client's X.509 Certificate presented at the Transport-layer.

### Option 3: Transport-layer Proof-of-possession

In the case where Workload-to-Workload communication is secured by Mutually-authenticated [Transport Layer Security 1.3](https://datatracker.ietf.org/doc/html/rfc8446#section-2), Proof-of-possession is conveyed via each Workload's `CertificateVerify` message. In this case, the Transport-layer guarantees that each Workload has already validated its Peer's Proof-of-possession of the Private Key. Proof-of-possession is conveyed during the TLS 1.3 handshake protocol using each peer's `Certificate` and `CertificateVerify` messages, along with other protocol messages transmitted. The Transport-layer must cache the SHA-256 hash of the validated Client `Certificate` and the first Subject Alternative Name (SAN) URI entry for use at the Application-layer. When the Destination Workload receives a WIT at the Application-layer with `cnf` claim with `x5t#S256` property, it MUST establish Proof-of-possession as follows:
* Validate that the Certificate-bound WIT's `cnf` claim's `x5t#S256` property matches the cached SHA-256 hash of the validated Client Certificate.
* Validate that the WIT's `sub` claim matches the first Subject Alternative Name (SAN) URI entry.

The first step proves that the WIT was issued to the holder of the PrivateKey for the X.509 Certificate presented by the client, and that Private Key was used to establish the mTLS session over which the WIT was transmitted. The second step validates that both the X.509 Certificate and the WIT were issued to the same Workload.

Do you see this as an alternate optimization which reuses the TLS handshake or is it in addition to the PoP.  Why would I do this instead of just using TLS?
- TLS cert is not a "WIMSE" cert (not a WIMSE identifier URI SAN but some other format)
- WIT contains additional information (not sure about that)? 

It seems that some of the properties would be different.
- Explicit binding to audience and other tokens/headers? 
- WIT can be used with any TLS channel from the same endpoint? 

Losing some of these properties is probably not be great.  Perhaps we can use TLS exported authenticators to bind to the application exchange. 

Hi @jsalowey , thanks for your feedback and questions.  

| Do you see this as an alternate optimization which reuses the TLS handshake or is it in addition to the PoP. 

Yes, this is an optimization to reuse the TLS handshake's PoP.  

| Why would I do this instead of just using TLS?

The WIT is an forwardable application tier credential.  The proxy can forward it to backend services.  The WIT may provide additional security context for the client's associated request, although they are not called out explicitly in this spec.  (The spec does not explicitly say claims like `aud` are disallowed from WIT, and I think we should keep this option open).

| TLS cert is not a "WIMSE" cert

Could you clarify what you mean?  I was thinking that in the case where a WIT contains a hash of the certificate in the "cnf", usually the TLS X.509 cert should be a "WIMSE" cert.  The constraint to only allow a hash of a WIMSE cert in the WIT could be optionally enforced by the IdP at WIT issuance time.  

| WIT contains additional information (not sure about that)?

I think this is optional but would suggest that possible extensions could be `aud` or `scope`.

| Explicit binding to audience and other tokens/headers?

Can we move these to the WIT?

| WIT can be used with any TLS channel from the same endpoint?

In the case where `cnf` contains an `x5t#S256`, the WIT can be used on any TLS channel that originated using the same certificate. 

| Losing some of these properties is probably not be great. Perhaps we can use TLS exported authenticators to bind to the application exchange.

This could be an area of exploration. I haven't looked at using TLS exported authenticators for this use case.

@kenmccracken-google picking this up after a couple of month. 

Do you have a concrete scenario/use-case where this would be necessary/helpful?

Hi @arndt-s , The use-case is I'd like to address is when we have end-to-end mTLS through a proxy, e.g. client->proxy->backend.  I'd like to accomplish two goals:

- reuse the PoP enforcement for the WIT, by referencing the client certificate thumbprint used during the already-established mTLS handshake.
- forward the WIT through the proxy, to the backend, which may have apply application business logic to it.

Here's a use-case diagram

```mermaid
graph TD;
  client-->|mTLS_1+WIT_1|proxy;
  proxy-->|mTLS_2+WIT_1|backend;
```

`mTLS_1`: mTLS using the public client's X.509 certificate.
`WIT_1`: the client's WIT, sent in the `Workload-Identity-Token` header.  
`mTLS_2` mTLS using the proxy's X.509 certificate.  

What I would like to see is a WIT where the workload->proxy (first hop) enforces the WIT's PoP via reference to the X.509 certificate thumbprint used during the mTLS handshake.  In the proxy->backend (second hop), the backend receives the WIT, but trusts that the proxy completed PoP validation. In this use-case, the forwarded WIT may provide additional security context for the client's associated request.  

The client is public, and may or may not be a trusted source workload.  Since both the proxy and the backend are trusted services, the backend may trust the proxy's PoP validation.

Thank you Ken.

Do I understand it correctly that the WIT would be used to carry information about the client to the backend through the proxy? 

If yes, I wonder why not use a WIT + WPT combination that actually reduces the trust required between proxy & backend? You use mTLS to secure the connection on transport layer for each "transport hop" and WIT+WPT to secure the application layer for each "application hop" (between client & backend). Like this you actually have end-to-end proof of possession and the backend doesn't need to trust the proxy to perform it. It improves security by quite a lot as your proxy isn't a security SPOF.

Overall it would like this:
![Image](https://github.com/user-attachments/assets/61251e29-39dd-4c29-b4c3-e81a38f8ac14)

PS: Instead of WPT you can also use httpsig as described in our draft.

I think this is roughly correct, except that I am starting from a baseline of mTLS everywhere.  So I would update your diagram to include mTLS on the top line, between Client and Backend directly.  I am wondering why we can't make use of rfc8705 with WITs.  

graph TD;
  client-->|mTLS_1+WIT_1|proxy;
  proxy-->|mTLS_2+WIT_1|backend;
  client-->|mTLS_3+WIT_1|backend;

(sorry, I'll need to fix the diagram later).

The WPT is creative and neat, but is inventing something completely new, which could some time to adopt. The HTTP-sig approach may be too HTTP-specific.  IMO, referring to an X.509 certificate hash is much simpler and avoids the additional complexity for adoption.

If we consider the threat model with the Proxy as security SPOF, that has been compromised, I'm not sure the WPT helps much, unless it is sufficiently time-constrained to limit replays.  A reasonably high-percentage of sensitive workload-to-workload traffic is likely to travel through a compromised Proxy even over a short period of time.  HTTP sig is probably a better option there since it has some replay protections, as noted in the [comparisons](https://github.com/ietf-wg-wimse/draft-ietf-wimse-s2s-protocol/blob/main/draft-ietf-wimse-s2s-protocol.md#comparing-the-dpop-inspired-option-with-message-signatures-app-level-comparison).   